<h1><%= @title %></h1>

<%= render 'admin/events/basic_show', event: @workshop %>

<%= render '/shared/gallery', pictures: @workshop.pictures.includes(image_attachment: :blob) %>

<%= render '/shared/show_actions', object: @workshop %>