<%= render 'admin/shared/import_form',
           preview_path: preview_admin_membership_imports_path,
           cancel_path: admin_users_path,
           cancel_text: "Back to Users",
           columns_description: "Student ID | Name | Date Purchased | Member Type | Purchaser Email",
           placeholder_text: "Student ID\tName\tDate Purchased\tMember Type\tPurchaser Email\ns9988776\tFinbar the Viking\t14/01/1980 14:25\tStudent\tfinbar@viking.se" do %>
  <p>The import process matches each row against existing users in the following order:</p>
  <ol>
    <li><strong>Student/Associate ID match:</strong> If a user with the same ID exists, they will be activated</li>
    <li><strong>Email match:</strong> If a user with the same email exists, they will be activated</li>
    <li><strong>Name match:</strong> If a user with the same last name and similar first name exists, you'll be asked to confirm</li>
    <li><strong>No match:</strong> A new user account will be created</li>
  </ol>
  <p class="mb-0 text-muted">
    <strong>Note:</strong> Users with placeholder emails (unknown_*@bedlamtheatre.co.uk) will have their email updated if the import provides one.
    Missing student/associate IDs will also be filled in automatically.
  </p>
<% end %>
