<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      Hi <%= @user.name %>,
    </p>

    <p>
      Thank you for renewing your Bedlam Membership. Your account has
      been reactivated.
    </p>

    <p><%= image_tag attachments['qr.png'].url, width: "150px" %></p>

    <p>
      Your membership number is <%= @card.card_number %>.
      If you do not already have a new-style membership card, please go
      to Box Office to print your card.
    </p>

    <p>
      Kind Regards,
    </p>

    <p>
      Bedlam Theatre Committee and The Project Black Lightning Team
    </p>

    <hr>
    <p>
      Bedlam Theatre<br />
      11b Bristo Place<br />
      Edinburgh<br />
      EH1 1EZ<br />
    </p>
  </body>
</html>