<%= simple_horizontal_form_for [@staffing_template] do |f| %>
  <%= render('shared/pages/form', f: f) do %>
    <%= f.input :name %>

    <div id="staffing-jobs">
      <h3>Jobs</h3>
      <%= render('shared/form/sections/nested_fields', f: f, association_name: :staffing_jobs, partial_name: 'review_fields') %>
    </div>
  <% end %>
<% end %>
