<%= render layout: '/shared/form/fields_for_template', locals: { 
  f: f,
  div_class_additions: 'form-inline'
} do %>
    <%= f.input :name %>
    <div class="mr-4"></div>
    <%= link_to_remove f %>
<% end %>
