<div class="gallery-form">
  <%= render(CollapsibleSectionComponent.new(title: 'Gallery', start_open: true)) do %>
    <%= render('shared/form/sections/nested_fields', 
      f: @f,
      association_name: :pictures,
      partial_name: 'picture_fields',
      container_class: 'grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-x-4',
      wrapper_class: nil)
    %>

    <%= render 'shared/form/dropzone/dropzone_pictures' %>
  <% end %>
</div>
