<div class="form-horizontal">
  <%= render(Admin::CollapsibleSectionComponent.new(title: 'Team Members')) do %>
    <p>
      Please be as specific as possible when entering the position.
      For actors, also enter the role(s) if you can. For example: <br>
      Actor (The King / The Beggar) - Finbar the Viking <br>
      Do the same for the prod team members. For example, if the tech manager was also the lighting designer, do: <br>
      Tech Manager / Lighting Designer - The Bedlam Ghost<br>
      You can only have one entry per user. Please combine multiple roles using a slash like the above.<br>
    </p>

    <% if show_bulk_import_link? %>
      <div class="mb-3">
        <%= helpers.get_link @f.object, :edit, link_text: "Bulk Import Team", link_target: bulk_import_path %>
      </div>
    <% end %>

    <%= render('shared/form/sections/nested_fields', f: @f, association_name: :team_members, partial_name: 'team_member_fields', sortable: true) %>
  <% end %>
</div>
