<div class="form-horizontal">
  <%= render(Admin::CollapsibleSectionComponent.new(title: 'Team Members')) do %>
    <div>
      <%= display_block("Adding Team Members Explanation", false) %>
    </div>

    <% if show_bulk_import_link? %>
      <div class="mb-3">
        <%= helpers.get_link @f.object, :edit, link_text: "Bulk Import Team", link_target: bulk_import_path %>
      </div>
    <% end %>

    <%= render('shared/form/sections/nested_fields', f: @f, association_name: :team_members, partial_name: 'team_member_fields', sortable: true) %>
  <% end %>
</div>
