<% include_header = true if include_header.nil? %>

<% if include_header %>
  <h3>Attachments</h3>
<% end %>

<%= render layout: '/shared/collapsible_section', locals: { title: 'Attachments' } do %>
  <div class="form-inline">
    <%= f.simple_fields_for :attachments %>
    <p><%= link_to_add(f, :attachments) %></p>
  </div>
<% end %>
