<%# locals: (f:) %>

<div class="form-horizontal">
  <h3>Team</h3>

  <%= render layout: '/shared/collapsible_section', locals: { title: 'Team Members' } do %>
    <p>
      Please be as specific as possible when entering the position. 
      For actors, also enter the role(s) if you can. For example: <br/>
      Actor (The King / The Beggar) - Finbar the Viking <br/>
      Do the same for the prod team members. For example, if the tech manager was also the lighting designer, do: <br/>
      Tech Manager / Lighting Designer - The Bedlam Ghost<br/>
      Additionally, try to have one entry per person and prefer combining the roles using a slash rather than having two entries.
    </p>

    <%= render('shared/form/sections/nested_fields', f: f, association_name: :team_members, partial_name: 'team_member_fields') %>
  <% end %>
</div>
