<% # I cannot guarantee that all of these if's are properly tested (all cases being hit), so be careful when modifying %>

<% fields = { 
  slug: event.slug,
  'ID' => (event.id if can?(:manage, event)),
  'SparkSeat Slug' => (event.spark_seat_slug if event.spark_seat_slug.present?),
  'XTS ID' => (event.xts_id if event.xts_id.present?),
  is_public: bool_text(event.is_public),
  proposal: 'No proposal linked',
  season: event.season.present? ? get_link(event.season, :show) : 'Not part of a season',
  author: event.author.presence || 'No author specified',
  'Date(s)' => event.date_range(true),
  venue: event.venue.present? ? get_link(event.venue, :show) : 'No Venue specified',
  price: event.price,
  tagline: event.tagline.presence || 'No tagline',
  image: 'No image'
} %>

<% # Proposal %>
<% if event.proposal.present? && can?(:view, event.proposal) %>
  <% fields[:proposal] = get_link(event.proposal, :show, link_target: admin_proposals_call_proposal_path(event.proposal.call, event.proposal)) %>
<% end %>

<% # Image %>
<% if event.image.attached? && !event.image.filename.to_s.starts_with?(ActiveStorageHelper::PREFIX) %>
  <% fields[:image] = image_tag(event.fetch_image.variant(slideshow_variant)) %>
<% end %>

<%= render 'shared/basic_fields', fields: fields %>

<div class="row vertical-rule">
  <div class="span<%= event.team_members.any? ? '6' : '12' %>">
    <p>
      <h3>Description</h3>
      <%= render_markdown event.description %>
    </p>
  </div>

  <% if event.team_members.any? %>
    <div class="span6">
        <%= render '/shared/admin_show_team_members', team_members: event.team_members %>
    </div>
  <% end %>
</div>
