
<% if f.object.event_tags.empty? %>
  <div id="no_event_tags_warning" class="alert alert-danger">
  You have not set any tags for this Event.
  </div>
<% end %>

<%= f.association(:event_tags, collection: EventTag.accessible_by(current_ability), input_html: { multiple: 'multiple' }) %>
