<div class="team_member control-group">
    <%= f.input_field :position %> 
    
    <%= f.input_field :user_id, :collection => @users.collect {|u| ["#{u.first_name} #{u.last_name}".presence || u.email, u.id]} %>

    <%= f.link_to_remove "Remove", :class => "btn btn-danger" %>
</div>