<p>Dear <%= @user.first_name %>,</p>

<p>You are due to be staffing for <%= @staffing.show_title %> at <%= @start_time %>. Make sure to be on time. Please let the Front of House manager know if you can no longer make the slot<%= @late_running_sentence %>.</p>

<p>Regards,</p>

<p>The EUTC Committee</p>
