<p class="mb-3 text-gray-600">
  You can edit this claim while it's still waiting for review. Once the finance team
  picks it up, contact <%= mail_to "finance@bedlamfringe.co.uk" %> for changes.
</p>

<% if @expense.receipts.any? %>
  <%= render AlertComponent.new(type: :info) do %>
    <span class="font-medium">Attached receipts:</span>
    <%= @expense.receipts.map(&:filename).join(", ") %>
  <% end %>
<% end %>

<%= render "form", form: @form, budgets: @budgets,
      url: admin_reimbursements_expense_path(@expense.record_id), method: :patch,
      submit_label: "Save changes" %>
