<%# locals: (event:, admin: true) %>

<% event_label = "#{event.name} - #{event.date_range true}" %>

<%= get_link event, :show, link_text: event_label, target: :blank, admin: admin %>

<span class="badge badge-secondary"><%= event.type.presence || "Unknown Type" %></span>

