<% content_for :event_labels do %>  
  <ul class="list-group list-group-flush">
    <% @season.events.reorder(:start_date).each do |event| %>
      <li class="list-group-item py-1">
        <div class="row">
          <%= render 'event_label', event: event %>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>

<% extra_fields = {
  event_labels:   { type: 'content', header: 'Events', content: yield(:event_labels) }
} %>

<%= render('admin/events/basic_show', event: @season, extra_fields: extra_fields) %>
