<%# locals: () %>

<% committee = Role.where(name: "Committee").first.users %>

<ul class="list-group list-group-flush">
  <% if committee.empty? %>
    <li class="list-group-item text-muted">No committee members found.</li>
  <% else %>
    <% committee.each do |person| %>
      <li class="list-group-item flex gap-4 py-1">
        <span class="shrink-0"><%= person.name %></span>
        <span class="text-muted ml-auto">
          <%= person.staffing_jobs.where(name: "Committee Rep").select { |j| j.staffable.start_time.between?(start_of_year, christmas) }.count %>
          /
          <%= person.staffing_jobs.where(name: "Committee Rep").select { |j| j.staffable.start_time.between?(christmas, next_year_start) }.count %>
        </span>
      </li>
    <% end %>
    <li class="list-group-item text-sm text-muted">
      Displays the amount of committee rep slots staffed per semester for each committee member
    </li>
  <% end %>
</ul>
