<%# locals: () %>

Displays the amount of committee rep slots staffed per semester for each committee member.
<% committee = Role.where(name: "Committee").first.users %>


<% committee.each do |person|%>
  <div class="row">
    <div class="col-auto"><b><%= person.name %></b></div>

    <div class="col">
    <%= person.staffing_jobs.where(name:"Committee Rep").all.select{|j| j.staffable.start_time.between?(start_of_year,christmas)}.count %>
    /
    <%= person.staffing_jobs.where(name:"Committee Rep").all.select{|j| j.staffable.start_time.between?(christmas,next_year_start)}.count %>
    </div>
  </div>
<% end %>
