<h3><%= link_to 'Editable Blocks', admin_editable_blocks_path %></h3>
<p>
  Use the link above to select a block to edit.
</p>
<p>
  Alternatively, go back to the main site and click the 'edit' button next to a block
</p>