<h3><%= link_to 'News', admin_news_index_path %></h3>

<% ::News.all.first(4).each do |news| %>
  <p><%= link_to news.title, admin_news_path(news) %></p>
  <p><%= render_markdown (truncate(news.body, length: 80)) %></p>
  <hr />
<% end %>

<% if can? :create, News %>
  <%= link_to 'Add News', new_admin_news_path, :class => "btn btn-small" %>
<% end %>