<% #Very similar to the reports index. %>

<h3><%= link_to 'Reports', admin_reports_path %></h3>
<% list_reports.each do |report, report_name| %>
  - <%= get_report_link report, report_name %><br/>
<% end %>