<%# locals: () %>

<ul class="flex flex-col">
  <% get_navbar_children('admin/resources').each do |subpage| %>
    <li class="list-row py-1"><%= link_to subpage[:title], subpage[:path] %></li>
  <% end %>
</ul>
