<% future_shows = Show.future.first(5) %>
<% future_shows.each do |show| %>
  <p><%= link_to show.name, admin_show_path(show) %></p>
<% end %>

<% if future_shows.empty? then %>
  <p>There are no upcoming shows.</p>
<% end %>