<h3><%= link_to 'Shows', admin_shows_path %></h3>
<% ::Show.future.first(5).each do |show| %>
  <p><%= link_to show.name, admin_show_path(show) %></p>
<% end %>

<% if ::Show.future.count == 0 then %>
  <p>There are no upcoming shows.</p>
<% end %>