<%# locals: () %>

<% upcoming_staffing = Admin::Staffing.accessible_by(current_ability).future.order('start_time ASC').first(5) %>

<ul class="list-group list-group-flush">
  <% if upcoming_staffing.empty? %>
    <li class="list-group-item text-muted">There are no upcoming staffing slots.</li>
  <% else %>
    <% upcoming_staffing.each do |staffing| %>
      <li class="list-group-item flex items-center justify-between">
        <%= link_to (l staffing.start_time, format: :short) + ": " + staffing.show_title, admin_staffing_path(staffing) %>
        <% remaining_positions = staffing.staffing_jobs.count - staffing.filled_jobs %>
        <% if remaining_positions > 0 %>
          <%= generate_label('bg-danger', remaining_positions.to_s, rounded=true) %>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>
