<h1>
  Pending
</h1>
<p class="sub">
  The list below contains jobs waiting to be processed.
</p>
<div class="accordion" id="jobs_enqueued">
  <% delayed_jobs(:pending).each do |job| %>
    <%= render 'job', :job => job %>
  <% end %>
</div>