<h1>Admin Dashboard</h1>

<ul class="nav nav-list">
  <li><%= link_to 'Shows', admin_shows_path %></li>
  <li><%= link_to 'News', admin_news_index_path %></li>
  <li><%= link_to 'Editable Block', admin_editable_blocks_path %></li>
</ul>