<% content_for :content do %>
  <div class="doorkeeper-admin max-w-4xl">
    <%- if flash[:notice].present? %>
      <div class="alert alert-info mb-4" role="alert">
        <%= flash[:notice] %>
      </div>
    <% end -%>

    <%= yield %>
  </div>
<% end %>

<% @title ||= t('doorkeeper.layouts.admin.title') %>

<%= render template: "layouts/admin_new" %>
