<% content_for :content do %>
  <div class="doorkeeper-admin max-w-4xl">
    <%- if flash[:notice].present? %>
      <%= render AlertComponent.new(type: :info) do %>
        <%= flash[:notice] %>
      <% end %>
    <% end -%>

    <%= yield %>
  </div>
<% end %>

<% @title ||= t('doorkeeper.layouts.admin.title') %>

<%= render template: "layouts/admin" %>
