<div class="job control-group">

    <%= f.error :name %>

    <br />

    <%= f.input_field :name, :placeholder => "Attachment Name" %>

    <%= f.input_field :file %>

    <%= f.link_to_remove "Remove", :class => "btn btn-danger" %>

</div>