<% @title = 'Editable Blocks' %>

<h1>Editable Blocks</h1>

<%= display_block("Editable Blocks", true) %>

<br />
<br />

<div class="accordion" id="ediable_block_accordion">
<% @admin_editable_blocks.each do |group, editable_blocks| %>
  <%= render 'editable_block', :group => group, :editable_blocks => editable_blocks %>
<% end %>
</div>

<p class="help-block">
  To create new pages, please contact the <%= link_to 'Bedlam IT Systems Manager', 'mailto:it@bedlamtheatre.co.uk' %>.
</p>
