<%- # Mind that there is also an actual form to edit and create reviews. %>
<div class="control-group fields">
    <%= render('admin/reviews/review_fields', f: f) %>

    <%= link_to_remove f %>
    <hr />
</div>