<%= simple_horizontal_form_for(@call_question_template) do |f| %>
  <%= render('shared/pages/form', f: f) do %>
    <%= f.input :name %>

    <div name="questions">
      <h3>Questions</h3>

      <%= render('shared/form/sections/nested_fields', f: f, association_name: :questions, partial_name: 'question_fields') %>
    </div>
  <% end %>
<% end %>
