<h1><%= @title %></h1>

<% @call_question_template.questions.each do |question| %>
  <%= render '/shared/question_template_show', question: question %>
<% end %>

<%= render 'shared/show_actions', object: @call_question_template %>
