<% # This page is currently unused and has no route leading to it. %>

<div class="container">
  <h1>Your Membership Has Expired</h1>

  <p>Please either renew your membership online, or go to Box Office.</p>

  <div class="flex flex-col sm:flex-row gap-6 mt-4">
    <div class="w-full sm:w-1/2">
      <h2>Renew Online</h2>
      Coming Soon...
    </div>

    <div class="w-full sm:w-1/2">
      <h2>Reactivate Membership</h2>

      <p>If you have renewed your membership at Box Office, please enter your new membership number.</p>

      <p>Note that if you already have a new-style membership card (with a QR code on it), you should continue to use that card.</p>

      <%= simple_form_for(current_user, url: reactivate_user_path, method: :post) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :card_number, required: true %>

          <div class="form-actions">
            <%= button_tag(type: 'submit', class: btn_classes(:secondary)) do %>
              Activate
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
