<% # BOOTSTRAP TODO: Sort this out. I am not sure if it is actually a proper index page? %>

<h1><%= @title %></h1>

<% @feedbacks.each do |feedback| %>
  <hr />

  <div>
    <article>
      <%= render_markdown feedback.body %>
    </article>
    <div>
      <%= get_link feedback, :edit, link_target: edit_admin_show_feedback_path(@show, feedback) %>
    </div>
  </tr>
<% end %>
