<h1><%= @title %></h1>

<% @feedbacks.each do |feedback| %>
  <hr />

  <div>
    <article>
      <%= render_markdown feedback.body %>
    </article>
    <div>
      <%= get_link feedback, :edit, link_target: edit_admin_show_feedback_path(@show, feedback) %>

      <%= get_link feedback, :destroy, link_target: edit_admin_show_feedback_path(@show, feedback) %>
    </div>
  </tr>
<% end %>