<%# locals: (title:, header_badges: nil) -%>

<% header_badges = [] if header_badges.nil? %>

<div class="content-header">
    <div class="w-full px-4">
        <div class="flex items-center mb-2">
            <div class="flex-1 ml-2">
                <h1 class="m-0"><%= title %></h1>
                <% header_badges.each do |label| %>
                  <%= generate_label(label[:label_class], label[:text]) %>
                <% end %>
            </div>
            <div>
                <ol class="breadcrumb float-right">
                    <li class="breadcrumb-item active"><%= render_breadcrumbs :separator => " / " %></li>
                </ol>
            </div>
        </div>
    </div>
</div>
