<%# locals: (title:) -%>

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col">
                <h1 class="m-0"><%= title %></h1>
            </div><!-- /.col -->
            <div class="col-auto">
                <%= render_breadcrumbs builder: Builders::TablerBreadcrumbsBuilder, separator: '' %>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div>
</div>