<% deadline = nil if deadline.nil? %>
<% team_members = team_members.includes(:user) %>
<% current_user_is_part_of_teamwork = team_members.collect(&:user).include?(current_user) %>

<h3>Team</h3>

<% team_members.each do |team_member| %>
  <% continue if team_member.nil? %>

  <p class="py-0 my-0">
    <b><%= team_member.position %></b> <%= user_link(team_member.user, true) %>

    <% # Show the badges if the current team_member has an user, and if the currently signed in user is part of the teamwork or can view users, and we are on the admin site. %>
    <% if team_member.user.present? && (current_user_is_part_of_teamwork || can?(:show, team_member.user) && @admin_site) %>
      <% team_member_labels_for(team_member, deadline).each do |label| %>
        <%= generate_label(label[:label_class], label[:text]) %>
      <% end %>
    <% end %>
  </p>
<% end %>
