<% # UPDATE NOTICE: This is very ugly and hacky at the moment, mainly because we are on an old Bootstrap version. %>
<% # Please fix this when you update bootstrap %>

<%# locals: (attachments:, include_item_link: false, include_header: true) -%>

<% if attachments.any? then %>
  <script type="text/javascript">
    Fancybox.bind('[data-fancybox]', {
      // Your custom options
    });  
  </script>

  <% if include_header%>
    <h3>Attachments</h3>
  <% end %>

  <div class="row row-cols-auto row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3">
    <% attachments.each do |attachment| %>
      <div class="col">
        <%= render 'shared/show_attachment', attachment: attachment, include_item_link: include_item_link %>
      </div>
    <% end %>
  </div>
<% end %>

<div class="mb-3"></div>
