<% # UPDATE NOTICE: This is very ugly and hacky at the moment, mainly because we are on an old Bootstrap version. %>
<% # Please fix this when you update bootstrap %>

<% include_item_link = false unless include_item_link.present? %>
<% include_header = true unless include_header.present? %>

<% if attachments.any? then %>
  <% content_for :head do %>
    <%= stylesheet_link_tag 'jquery.fancybox' %>
    <%= javascript_include_tag 'jquery.fancybox' %>
  <% end %>

  <% if include_header%>
    <h3>Attachments</h3>
  <% end %>

  <li class="thumbnails">
    <% attachments.each_with_index do |attachment, index| %>
      <% if index % 4 == 0 %>
        <div class="row span12">
      <% end %>

      <ul class="span2 gallery well">
        <%= render 'shared/show_attachment', attachment: attachment, include_item_link: include_item_link %>
      </ul>

      <% # Close the row. %>
      <% if index % 4 == 3 %>
        </div>
      <% end %>
    <% end %>
  </li>
<% end %>