<div class="card">
<div class="card-header">
<% fields.each do |label_value_pair| %>
  <% label, value = label_value_pair %>
  
  <% # TODO: What about doing a 'Not Specified" if nil instead? %>
  <%# value = 'Not Specified' unless value.present? %>

  <% next if value.nil? %>

  <% # Check peersupport (ask Mick) for a way to incorporate localisation. %>

  <% if [true, false].include?(value) %>
    <% value = bool_text(value) %>
  <% end %>


    <b><%= label.is_a?(Symbol) ? label.to_s.titleize : label %>:</b>
    <%= value %>

<% end %>
</div>
