<%# locals: (f:, name:, label:, params:) -%>

<div class="col">
    <%= f.input name.to_sym, label: label, input_html: { id: name, checked: request.params[name.to_sym].to_s == '1', name: name }, as: :boolean %>
</div>
