<div class="row">
  <div class="span12">
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" href="#search_container">
          <i class="fa fa-chevron-down" aria-hidden=”true”></i> Search Form
        </a>
      </div>
      <div id="search_container" class="accordion-body collapse">
        <div class="accordion-inner">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</div>