<div class="footer-container">
  <footer class="footer clearfix">
    <span class="pull-left">
      Bedlam Theatre is run by the Edinburgh University Theatre Company - <%= link_to 'Contact Us', static_path('contact') %>.
    </span>

    <span class="pull-right">
      <%= version %> - <%= link_to 'Report Bug', 'https://bitbucket.org/bedlamtheatre/black_lightning/issues' %>
    </span>
  </footer>
</div>