<% if pictures.any? then %>
  <hr />
  
  <h3>Gallery</h3>

  <ul class="lightbox thumbnails">
    <% pictures.each do |picture| %>
      <li class="span2 gallery">
        <% img = image_tag picture.image.url(:thumb) %>
        <%= link_to img, picture.image.url(:display), class: "thumbnail", title: (picture.description) %>
      </li>
    <% end %>
  </ul>
<% end %>