<dialog id="pretix-modal"
        class="pretix-modal"
        data-controller="modal"
        data-action="click->modal#backdropClose"
        data-pretix-modal-target="dialog">
  <div class="pretix-modal-header">
    <h5 data-pretix-modal-target="title">Book Tickets</h5>
    <button type="button" class="pretix-modal-close" data-action="click->modal#close" aria-label="Close">&times; Close</button>
  </div>
  <div class="pretix-modal-body">
    <pretix-widget style="list" data-pretix-modal-target="widget"></pretix-widget>
  </div>
</dialog>
