<h3>Questions</h3>

<% answers.includes(:question).each do |answer| %>
  <div>
    <p>
      <b>Question:</b>
    </p>
    <%= render_markdown answer.question.question_text %>
  </div>

  <div>
    <p>
      <b>Response:</b>
    </p>
  
    <% if answer.attachments.present? %>
      <% # There should not be more than 1, but it is technically possible. This is just in case. %>
      <div>
        <% if answer.attachments.count == 1 %>
          <%= render 'shared/show_attachment', attachment: answer.attachments.first %>
        <% else %>
          <%= render 'shared/attachments_gallery', attachments: answer.attachments %>
        <% end %>
      </div>
    <% end %>

    <% if answer&.answer.present? %>
      <%= render_markdown answer.answer %>
    <% elsif answer.attachments.empty? %>
      <p>This question has not been answered.</p>
    <% end %>
  </div>

  <hr />
<% end %>
