<% # BOOTSTRAP 5: The padding needs to use ps and pe instead of pl and pr. float-right should be float-end. %>
<div class="card">
  <div class="card-body m-0 py-0 pr-0 pl-1">
    <div class="row">
      <div class="col-auto my-auto">
        <span class="card-title">Quick actions</span>
      </div>
      <div class="col">
        <div class="float-right">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</div>
