<% # BOOTSTRAP TODO: Finish this. The formatting of the quick actions phrase in particular is not very nice. Could stand out more/be centered. %>
<div class="card">
  <div class="card-body m-0 p-1">
    Quick actions
    <div class="float-right">
      <%= yield %>
    </div>
  </div>
</div>
