<%# locals: (field_sets:, headers:, table_class: 'table-hover', include_headers: true, new_headers: []) -%>
<%# KEEP %>

<% headers = headers.each do |header|
  if header.class == Symbol
    text = t('simple_form.labels.defaults.' + header.to_s)
    if @q.present?
      new_headers << sort_link(@q, header, text, class: 'table-sort', hide_indicator: true)
    else
      new_headers << text
    end
  else
    new_headers << header
  end
end %>

<div id="table-default" class="table-responsive">
  <table class="table  <%= table_class %>">
    <% if include_headers %>
      <thead>
        <tr>
          <% new_headers.each do |header| %>
            <th scope="col"><%= header %></th>
          <% end %>
        </tr>
      </thead>
    <% end %>
    <tbody>
      <% field_sets.each do |field_set| %>
        <tr class="<%= field_set[:class]%>">
          <% field_set[:fields].each do |field| %>
          <td> <%= field %> </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>