<%# locals: (video_links:, include_header: true) -%>
<%# KEEP%>

<% if video_links.any? then %>
  <% if include_header%>
    <h3>Videos</h3>
  <% end %>

  <div class="grid gap-3 lg:grid-cols-2">
    <% video_links.each do |video_link| %>
      <div>
        <%= render CardComponent.new(title: video_link.name) do %>
          <%= video_link.embed_code %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

<div class="mb-3"></div>
