<%# locals: (video_links:, include_header: true) -%>
<%# KEEP%>

<% if video_links.any? then %>
  <% if include_header%>
    <h3>Videos</h3>
  <% end %>

  <div class="row g-3">
    <% video_links.each do |video_link| %>
      <div class="col-12 col-lg-6">
        <div class="card h-100">
          <h4 class="card-header"><%= video_link.name %></h4>
          <div class="card-body">
            <%= video_link.embed_code %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<div class="mb-3"></div>
