<% if event.end_date.present? && event.end_date < Date.current %>
  <p class="alert alert-info">
    <i class="fa fa-info-sign fa-large" aria-hidden=”true”></i>
    This <%= event_name %> finished on <%= l event.end_date, format: :longy %>, and this page is being kept for archival purposes only.
  </p>
<% end %>