<% # Used for events and venues. %>
<h1><%= item.name %></h1>

<figure class="figure">
  <%= image_tag(item.fetch_image.variant(slideshow_variant)) %>
  <figcaption class="figure-caption"><%= item.tagline %></figcaption>
</figure>
