<div class="row vertical-rule">
  <div class="span<%= event.team_members.any? ? '8' : '12' %>">
    <h3>Details</h3>
    <%= render_markdown event.publicity_text %>
      <% if event.pretix_shown %>
  <%= render 'shared/pretix_widget', event: @show %>
  <%end%>
  </div>

  <% if event.team_members.any? %>
    <div class="span4">
      <h3>Cast and Crew</h3>
      <%= render '/shared/show_team_members', team_members: event.team_members, admin_view: true %>
    </div>
  <% end %>
</div>
