<div class="row">
  <div class="col-md-<%= event.team_members.any? ? '8' : '12' %>">
    <% # This margin only appears below md size so there is a small gap if the cards are stacked vertically. %>
    <div class="card mb-3 mb-md-0">
      <div class="card-header">
        <h4 class="card-title">Description</span>
      </div>
      <div class="card-body">
        <%= render_markdown event.publicity_text %>

        <% if event.pretix_shown %>
          <%= render 'shared/pretix_widget', event: event %>
        <% end %>
      </div>
    </div>
  </div>

  <% if event.team_members.any? %>
    <div class="col-md-4">
      <div class="card h-100">
        <div class="card-header">
          <h4 class="card-title">Cast and Crew</span>
        </div>
        <div class="card-body">
          <%= render '/shared/show_team_members', team_members: event.team_members, admin_view: true %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<% # Margin here so it does not mess with the h-100 on the cards. %>
<div class="mb-3"></div>
