<% search_fields = {
    title_cont:             { slug: 'defaults.name' },
    body_cont:              { slug: 'defaults.description'},
    author_full_name_cont:  { slug: 'defaults.author'},
    date_range:             { type: :date_range, options: {  start_date_attribute: 'publish_date', end_date_attribute: 'publish_date'} }

} %>

<% items = @news.collect { |news| {
  url: url_for(news),
  image: news.fetch_image,
  header: news.title,
  paragraphs: [
    { content: l(news.publish_date, format: :longy), small: true },
    { content: render_plain(news.preview) }
  ],
  button_text: 'Read Full Article'
  } }
%>

<%= render Public::IndexPageComponent.new(title: @title, editable_block_name: @editable_block_name, resources: @news, items: items) do |c| %>
  <% c.with_search_form do %>
    <div class="mb-3">
      <%= render('shared/search_form', input_fields: search_fields, columns: 2) %>
    </div>
  <% end %>
<% end %>


<% rss_icon = '<i class="fa-solid fa-square-rss" aria-hidden="true"></i> RSS Feed' %>
<%= link_to(rss_icon.html_safe, news_index_path(format: :rss), class: 'btn btn-secondary') %>
