<div class="picture control-group fields">
    <%= f.input :description, :input_html => { :rows => 3 } %>

    <%= f.input :image %>

    <%= f.link_to_remove "Remove", :class => "btn btn-danger" %>
</div>