<table class="table">
	<tbody>
		<tr>
			<th>Name</th>
			<th>Slug</th>
			<th></th>
		</tr>
		<% @shows.each do |show| %>
		<tr>
			<td><%= link_to show.name, admin_show_path(show.id) %></td>
			<td><%= show.slug %></td>
			
            <td>
            <% if can? :edit, show %>
            <%= link_to 'Edit', edit_admin_show_path(show.id)%>
            <% end %>
            </td>
		</tr>
		<% end %>
	</tbody>
</table>

<% if can? :create, Show %>
<%= link_to 'Add Show', new_admin_show_path, :class => "btn" %>
<% end %>