<% if current_user.nil? %>
  <div class="card">
    <div class="card-body">
      <%= display_block('Marketing Creatives Profile Sign Up Instructions', true) %>
    </div>
  </div>
<% end %>

<%= render 'form' %>
