<% search_fields = {
    name_cont:        { slug: 'defaults.name' },
    tagline_cont:     { slug: 'defaults.tagline' },
    description_cont: { slug: 'defaults.description'},
    address_cont:     { slug: 'defaults.address'}
} %>

<% items = @venues.collect { |venue| {
  url: url_for(venue),
  image: venue.fetch_image,
  header: venue.name,
  paragraphs: [
    { content: venue.tagline }
  ],
  button_text: 'View Details'
  } }
%>

<%= render Public::IndexPageComponent.new(title: @title, editable_block_name: @editable_block_name, resources: @venues, items: items) do |c| %>
  <% c.with_search_form do %>
    <div class="mb-3">
      <%= render('shared/search_form', input_fields: search_fields, columns: 2) %>
    </div>
  <% end %>
<% end %>
