<h1><%= @title %></h1>

<table class="table">
  <tr>
    <th>Name</th>

    <% if can? :edit, Venue %>
      <th></th>
    <% end %>
  </tr>

  <% @venues.each do |venue| %>
    <tr>
        <%= get_link venue, :show, wrap_tag: 'td' %>

        <%= get_link venue, :edit, wrap_tag: 'td' %>
    </tr>
  <% end %>
</table>

<%= get_link Venue, :new %>