<h1>Listing venues</h1>

<table class="table">
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
  </tr>

<% @venues.each do |venue| %>
  <tr>
    <td><%= (can? :read, venue) ? link_to(venue.name, admin_venue_path(venue)) : venue.name %></td>

    <td>
      <% if can? :edit, venue %>
        <%= link_to 'Edit', edit_admin_venue_path(venue) %>
      <% end %>
    </td>

    <td>
      <% if can? :delete, venue %>
        <%= link_to 'Destroy', admin_venues_path(venue), method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<br />

<% new_text = '<i class="fa fa-plus"></i> New Venue'.html_safe %>
<%= link_to new_text, new_admin_venue_path, :class => "btn" %>
