<h1><%= @title %></h1>

<% fields = {
  name: @venue.name,
  tagline: @venue.tagline,
  location: @venue.location,
  image: 'No Image',
  description: render_markdown(@venue.description)
} %>

<% if @venue.image.attached? && !@venue.image.filename.to_s.starts_with?(ActiveStorageHelper::PREFIX) %>
  <% fields[:image] = image_tag(@venue.fetch_image.variant(slideshow_variant)) %>
<% end %>

<%= render 'shared/basic_fields', fields: fields %>

<%= render '/shared/gallery', pictures: @venue.pictures %>

<%= render 'shared/show_actions', object: @venue %>
