<%= display_block(@editable_block.name, false) %>

<div class="row">
  <div class="col">
    <form class="mt-3">
      <% # BOOSTRAP: This form %>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="membershipSearch" name="search" placeholder="Finbar the Viking" autofocus="autofocus">
        <label for="membershipSearch">Membership Number or Member Name</label>
      </div>

      <button type="submit" class="btn btn-secondary">Submit</button>
    </form>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="results-box"></div>
  </div>
</div>

<% # BOOTSTRAP: Display the picture inside the alert. %>
<script>
  $form = $('form');
  $form.submit(function (e) {
    e.preventDefault();

    $.getJSON("/admin/membership/check_membership", $form.serialize())
      .done(function (data) {
        showResult("success", data.response);
        $('#search').val("").focus();

        if (data.image) {
          $('.results-box').append("<img src='" + data.image + "' class=\"img-thumbnail float-right\" style='width: 100px;' />");
        }
      })
      .fail(function (xhr) {
        showResult("alert", xhr.responseJSON.response);
        $('#search').val("").focus();
      });

    return false;
  });

  function showResult(type, message) {
    switch(type) {
      case "alert":
        alertclass = "alert-danger";
        icon       = "fa-exclamation";
        break;
      case "success":
        alertclass = "alert-success";
        icon       = "fa-check";
        break;
    }

  // BOOTSTRAP: This script probs should not live here, and if it does, this alert should be created using the form script
    $alert = $("<div id=\"" +  type  + "\" class=\"alert " + alertclass + "\">" +
              "<i class=\"" + icon  + " fas fa-large\" aria-hidden=”true”></i> "
              + message +
              "</div>");

    $('.results-box').empty().append($alert);
  }
</script>