<% content_for :head do %>
  <%= javascript_include_tag "admin/membership_checker.js", defer: true %>
<% end %>

<%= display_block(@editable_block.name, false) %>

<div class="row">
  <div class="col">
    <form class="mt-3">
      <% # BOOSTRAP NICETOHAVE: This form %>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="membershipSearch" name="search" placeholder="Finbar the Viking" autofocus="autofocus">
        <label for="membershipSearch">Membership Number or Member Name</label>
      </div>

      <button type="submit" class="btn btn-secondary mb-3">Submit</button>
    </form>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="results-box"></div>
  </div>
</div>
