<% display_edit = true if display_edit.nil? %>

<div class="row">
  <div class="col">
    <%= render_markdown(@editable_block.content) %>

    <%= get_link @editable_block, :edit, html_class: 'btn btn-secondary', additional_condition: display_edit %>
  </div>
</div>
