.container {
    padding-bottom:10px;
}

[class*=" icon-"] {
    background-image: none;
}

.gridster li {
     margin-bottom : 10px;
     overflow: auto;
}

.sortable {
    margin: 0;
}

.ui-sortable-placeholder {
    margin: 10px;
    height: 30px;
    width: 560px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
}
