# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 8b7536a0745ec632

  recaptcha:
    site_key: canbeanything
    secret_key: canbeanything

  openid_connect:
    issuer: https://localhost:3000

  wasabi:
    access_key_id: canbeanything
    secret_access_key: canbeanything

test:
  secret_key_base: 8b7536a0745ec632

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  
  honeybadger:
    api_key: 

  mailsender:
    user:
    password:

  wasabi:
    access_key_id: 
    secret_access_key: 

  openid_connect:
    issuer: <actual url>