<% @title = 'Membership Cards' %>

<h1>Membership Cards</h1>

<table class="table">
  <tr>
    <th>Card Number</th>
    <th>Member Name</th>
  </tr>

<% @cards.each do |card| %>
  <tr>
    <td>
      <%= get_link card, :show, link_text: card.card_number %>
    </td>

    <td>
      <%= user_link(card.user, false) %>
    </td>
  </tr>
<% end %>
</table>

<%= will_paginate(@cards) %>

<%= get_link MembershipCard, :new %>
