<% url = admin_questionnaires_questionnaire_url(@questionnaire) %>

<p>Hi there,<p>

<p><%= @questionnaire_name %> has been updated by <%= @submitter.name %>, and they wanted to notify you of this.<p>

<p>Please check the questionnaire at <%= link_to url, url %>, and get back to <%= @submitter.first_name %> if necessary.</p>

<p>With best wishes,</p>

<p>Pineapple</p>
