<% content_for :parents do %>
  <ul>
    <% @techie.parents.each do |parent| %>
      <li><%= get_link parent, :show %></li>
    <% end %>
  </ul>
<% end %>

<% content_for :children do %>
  <ul>
    <% @techie.children.each do |child| %>
      <li><%= get_link child, :show %></li>
    <% end %>
  </ul>
<% end %>

<% content_for :co_parents do %>
  <ul>
    <% @coparents.each do |coparent| %>
      <li><%= get_link coparent, :show %></li>
    <% end %>
  </ul>
<% end %>

<% fields = { } %>
<% [:parents, :children, :co_parents].each { |relation| fields[relation] = { type: 'content', header: relation.to_s.dasherize.titleize, content: yield(relation) } } %>

<% #type: 'content', header: titleize(relation), content: yield(relation) %>
<%= render('shared/pages/show', object: @techie, fields: fields) %>
