<h1>About Bedlam</h1>
<p>
Clearly visible from Edinburgh's Royal Mile in the heart of the city, 
the Bedlam Theatre is a fully operational 90 seat theatre 
housed in an imposing neo-gothic church.
</p>

<p>
Home to the Edinburgh University Theatre Company, Bedlam is the oldest student-run theatre in Britain.
Any member can propose a show for selection by company vote, and all aspects of the production from acting to
lighting to taking the tickets are carried out by the student membership.
</p>

<p>
The theatre stages over 40 shows every year. Some are small-scale, one-off lunchtime performances,
while others are larger budget, week-long productions known as Mainterms. The Bedlam is also home to
Edinburgh's longest-running improv troupe, the Improverts, who play every Friday at 10.30pm during term
time and every night at half past midnight during the Fringe.
</p>
