<h1>Accessibility/Find Us</h1>

<%= map(
  center: { latlng: bedlam_latlng, zoom: 16 },
  markers: [ latlng: bedlam_latlng, popup: '<b>Bedlam Theatre</b><br><br>11b Bristo Place<br>EH1 1EZ', open_popup: true]) 
  %>

<%= display_block("Accessibility", false) %>
