<div class="row">
  <div class="span12">
    <h1>Project BlackLightning</h1>

    <p>
      This version of the Bedlam website (named Project BlackLightning)
      was built primarily during semester 1 of the 2012/13 academic year.
    </p>

    <h3>The BlackLightning Team</h3>

    <%
      craig  = User.where("first_name = 'Craig'  AND last_name='Snowden'").first
      hayden = User.where("first_name = 'Hayden' AND last_name='Ball'   ").first
      lewis  = User.where("first_name = 'Lewis'  AND last_name='Eason'  ").first
      tom    = User.where("first_name = 'Tom'    AND last_name='Turner' ").first
    %>

    <dl>
      <dt>IT Systems Manager (2012/13)</dt>
      <dd><%= link_to tom.name, tom       %></dd>

      <dt>Developer</dt>
      <dd><%= link_to hayden.name, hayden %></dd>

      <dt>Developer</dt>
      <dd><%= link_to craig.name, craig   %></dd>

      <dt>Developer</dt>
      <dd><%= link_to lewis.name, lewis   %></dd>
    </dl>
  </div>
</div>