<h1>Welcome to project black-lightning</h1>
<p>The Bedlam Theatre is a unique, entirely student run theatre in the heart of Edinburgh. The Theatre and cafe are open for performances at least two nights a week and all day every day during Freshers' Week and Student Festival.</p>
<p>Shows can be found <%= link_to 'here', :controller=>'shows', :action=>'index' %></p>
