
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <%= render 'shared/carousel', id: 'homeCarousel', carousel_items: @carousel_items %>
      </div>
    </div>
  </div>
</div>

