<h1>Newsletter</h1>

<%= display_block('newsletter', false) %>

<hr />

<p>Sign up to receive information about Bedlam Theatre and our shows.</p>

<%= form_tag(newsletter_subscribe_path, :method => :post, :class => "form-inline") do %>
  <div class="input-prepend input-append">
    <span class="add-on"><i class="icon-envelope"></i></span>
    <input type="text" name="email" class="span3" placeholder="Enter e-mail address"/>
    <button type="submit" class="btn">Sign up</button>
  </div>
<% end %>

<hr />

<script language="javascript" src="http://us5.campaign-archive2.com/generate-js/?u=b350aeb936ace25488f5bfbd8&fid=2909&show=10" type="text/javascript"></script>