<h1>Newsletter</h1>

<%= display_block('newsletter', false) %>

<hr />

<script language="javascript" src="http://us5.campaign-archive2.com/generate-js/?u=b350aeb936ace25488f5bfbd8&fid=2909&show=10" type="text/javascript"></script>