<% # Separate partial from the admin one just to prepare for the future. %>
<div class="mb-3">
  <% # BOOTSTRAP: Check if front end forms look nice. %>
  <%=render('shared/search_form', input_fields: search_fields) %>
</div>
