<%# locals: (search_fields:) -%>

<% # Separate partial from the admin one just to prepare for the future. %>
<div class="mb-3">
  <%= render('shared/search_form', input_fields: search_fields, columns: 2) %>
</div>
