<%# locals: (current_page:, total_pages:, remote: nil) %>
<li class="page-item active">
  <input
    type="number"
    class="page-link page-jump-input"
    value="<%= current_page %>"
    min="1"
    max="<%= total_pages %>"
    data-controller="page-jump"
    autocomplete="off"
    data-action="keydown.enter->page-jump#jump blur->page-jump#jump"
  >
</li>
