<li class="page-item" data-controller="page-jump">
  <input
    type="number"
    class="page-link page-jump-input"
    min="1"
    placeholder="…"
    data-page-jump-target="input"
    autocomplete="off"
    data-action="keydown.enter->page-jump#jump blur->page-jump#jump"
  >
</li>
