<%# locals: (current_page:, url:, remote:, per_page:, total_pages:) %>

<li class="page-item <%= "disabled" if current_page.last? %>">
  <%= link_to url, rel: 'next', remote: remote, class: 'page-link' do %><span class="hidden md:inline">Next </span>&rsaquo;<% end %>
</li>
