<%# locals: (page:, remote:, url:, current_page:, per_page:, total_pages:) %>

<% if page.current? %>
  <%= render "kaminari/current_page_input", current_page: page, total_pages: total_pages, remote: remote %>
<% else %>
  <li class="page-item">
    <%= link_to page, url, remote: remote, rel: page.rel, class: 'page-link' %>
  </li>
<% end %>
