<%# locals: (current_page:, url:, remote:, per_page:, total_pages:) %>

<li>
  <%= link_to url, rel: 'prev', remote: remote, class: "px-3 py-1.5 text-sm text-gray-700 border border-gray-300 rounded #{current_page.first? ? 'opacity-50 pointer-events-none' : 'hover:bg-gray-50'}" do %>&lsaquo;<span class="hidden md:inline"> Prev</span><% end %>
</li>
