<%# locals: (current_page:, url:, remote:, per_page:, total_pages:) %>

<li class="page-item <%= 'disabled' if current_page.first? %>">
  <%= link_to url, rel: 'prev', remote: remote, class: 'page-link' do %>&lsaquo;<span class="hidden md:inline"> Prev</span><% end %>
</li>
