<% error_header = "#{current_user&.first_name.present? ? "#{current_user.first_name}, t" : "T" }his isn't the page you are looking for." %>

<%= render '/errors/template', error_header: error_header do %>
  <p>
    If you think you have been sent here by mistake, please contact the IT Subcommittee at <%= mail_to @support_email, @support_email %>.
  </p>

  <p>
    HAL is Watching.
  </p>
<% end %>
