<% error_header = "Sorry#{" #{current_user.first_name}" if current_user&.first_name.present?}, there was a problem fetching this page: #{@error_type}" %>

<%= render '/errors/template', error_header: error_header do %>
  <p>
    We have been informed. Please contact the IT Subcommittee at <%= mail_to @support_email, @support_email %> for assistance.
  </p>
  
  <p>
    HAL is sorry.
  </p>
<% end %>
