<div class="grid gap-3 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
  <% @categories.each do |category| %>
    <div>
      <%= render CardComponent.new(html_class: "h-full", flush: true) do %>
        <% img = capture do %><%= render 'shared/image', image: category.fetch_image, variant: square_thumb_variant(300), image_options: { class: 'block w-full h-auto rounded-t' } %><% end %>
        <%= get_link category, :show, link_text: img %>
        <div class="p-4">
          <p class="block mb-2"><%= get_link category, :show %></p>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<div class="mb-3"></div>
