<%# locals_check: (f:, attributes:, div_class_additions: '') %>

<% has_error = f.object.errors.any? %>
<% div_class_additions = '' if div_class_additions.nil? %>
<div class="<%= div_class_additions %> nested-fields mb-2<%= ' error' if has_error %>">
    <%= yield %>
</div>
