<% div_class_additions = '' if div_class_additions.nil? %>

<% has_error = f.object.errors.any? %>

<div class="<%= div_class_additions %> nested-fields<%= ' error' if has_error %>">
    <%= yield %>
</div>
