<%# locals: (f:, wrap_tags: true, include_index: true) %>
<% # KEEP%>
<% if wrap_tags %>
  <div class="form-actions">
<% end %>

<% # There are some form actions, mainly in proposals, that don't use these. %>
<% # Please check if they need manual updates. They have been tagged with /shared/form/form_actions %>
<%= f.button :submit, class: "btn-primary" %>

<% if f.object.present? %>
  <%= get_link f.object, :show, link_text: 'View', html_class: 'btn btn-secondary', additional_condition: f.object.persisted?, return_link_text_if_no_permission: false %>
  <%= get_link(f.object.class, :index) if include_index %>
<% end %>

<%= yield :extra_form_actions %>
<% if wrap_tags %>
  </div>
<% end %>
