<%# locals: (f:, fields:, div_class_additions: '') %>

<%- # Wrap a row around the columns which will also be on the outer wrapper div of the nested fields. %>
<%- div_class_additions = div_class_additions + ' row' %>

<%= render layout: '/shared/form/fields_for_template', locals: { 
  f: f,
  div_class_additions: div_class_additions + ' form-inline'
} do %>
    <% fields.each_with_index do |field, i| %>
        <% col_modifier = field[:col_modifier] %>
        <div class="col-sm<%= "-#{col_modifier}" if col_modifier %>">
            <%= field[:field] %>
        </div>
    <% end %>
    <%- # If you need further customisation, you can add it with yield. %>
    <%- #= yield %>
<% end %>
