<div class="card">
  <div class="card-body p-1">
        <h5 class="card-title"><b>Kramdown Hints:</b></h5>
        <p class="card-text">
            *Italics*<br>
            **Bold**<br>
<br>
            [Link](/my/address)<br>
            ![Hint](/my/image)<br>
<br>
            # Main Header (H1)<br>
            ## Subheader (H2)<br>
            ###...###### (H3...H6)<br>
<br>
            {:.center}<br>
            {:style="width: 100px;"}<br>
        </p>
    </div>
</div>
