<!-- Modal -->
<div class="modal fade" id="template_modal" tabindex="-1" aria-labelledby="template_modal_header" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="template_modal_header"><%= header %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
    <form id="template_selector">
    <% # BOOTSTRAP: Why is this Unstyled? %>
      <select id="template_list" class="form-select">
        <option></option>
      </select>
      <div id="template_summary">
      </div>
    </form>
      </div>
      <div class="modal-footer">
        <%= get_link(template_model, :index, link_text: 'Edit Templates', html_class: 'btn btn-secondary float-left') %>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary disabled" id="template_load">Load Template</button>
      </div>
    </div>
  </div>
</div>