<div class="modal hide" id="template_modal" role="dialog" aria-labelledby="template_modal_header" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 id="template_modal_header"><%= header %></h3>
  </div>
  <div class="modal-body">
    <form id="template_selector">
      <select id="template_list">
        <option></option>
      </select>
      <div id="template_summary">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <%= get_link(template_model, :index, link_text: 'Edit Templates', html_class: 'btn pull-left') %>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button id="template_load" class="btn btn-primary disabled">Load template</button>
  </div>
</div>