<%# locals: (header:, template_model:) %>

<%= render Admin::ModalComponent.new(id: "template_modal", title: header, dialog_data: { template_loader_target: "dialog" }) do |modal| %>
  <% modal.with_footer do %>
    <%= get_link(template_model, :index, link_text: "Edit Templates", html_class: "btn btn-secondary") %>
    <div class="flex gap-2">
      <button type="button" class="btn btn-secondary" data-action="click->template-loader#close">Close</button>
      <button type="button"
              class="btn btn-primary disabled:opacity-50 disabled:cursor-not-allowed"
              data-template-loader-target="loadButton"
              disabled>Load Template</button>
    </div>
  <% end %>

  <form id="template_selector">
    <select data-template-loader-target="list" class="w-full simple-select2">
      <option></option>
    </select>
    <div data-template-loader-target="summary" class="mt-3"></div>
  </form>
<% end %>
