<div class="row">
  <div class="span12">
    <div style="margin-bottom: 10px;">
      <%= display_block("Archives", false) %>
    </div>

    <p>
      Please select which archives you would like to view:
    </p>

    <ul>
      <li><%= link_to 'Shows', archives_shows_index_path %></li>
      <li><%= link_to 'Workshops', archives_workshops_index_path %></li>
    </ul>
  </div>
</div>