<h2>Welcome to the Crypt</h2>

<p>
  Please select which archives you would like to view:
</p>

<ul>
  <li><%= link_to 'Shows', archives_shows_index_path(params[:start_month], params[:start_year], params[:end_month], params[:end_year]) %></li>
</ul>