/*  BOOTSTRAP ALEX: Is this use by your login form or can it be removed?
    BOOTSTRAP ALEX: In similar vein, which of [devise/passwords/edit, devise/passwords/new, devise/sessions/new] are actually in use right now?
*/

#login_form {
  display: -webkit-flex;
  display:    -mos-flex;
  display:     -ms-flex;
  display:         flex;
}

#login_form form {
  margin: 0;
}

#login_form .form-actions {
  margin-bottom:  0;
  padding-bottom: 0;
}

@media (max-width: 767px) {
  #login_form {
    display: block;
  }
}
