#login_form {
  display: -webkit-flex;
  display:    -mos-flex;
  display:     -ms-flex;
  display:         flex;
}

#login_form form {
  margin: 0;
}

#login_form .form-actions {
  margin-bottom:  0;
  padding-bottom: 0;
}

@media (max-width: 767px) {
  #login_form {
    display: block;
  }
}

/* Responsive */
/* BOOTSTRAP: Probably remove when updating navbar? */
@media (max-width: 400px) {
  .brand {
      float: none !important;
  }

  #login_menu {
      float: none;
  }

  #login_menu li {
      float: none;
  }

  #login_menu a {
      padding: 0;
  }
}