<%# locals: (selected_user: nil) %>

<div class="card mb-4">
  <div class="card-header">
    <h5 class="mb-0">Quick Lookup</h5>
  </div>
  <div class="card-body" data-controller="select">
    <%= simple_form_for :debt_checker, url: lookup_admin_debt_checkers_path, method: :get do |f| %>
      <div class="flex gap-2 items-center">
        <%= f.label :user_id, "Search for a specific user to check their debt status.",
                    class: "text-sm font-medium text-gray-700 shrink-0 whitespace-nowrap" %>
        <div class="flex-1 min-w-0">
          <%= f.input :user_id,
                      as: :select,
                      label: false,
                      collection: selected_user ? [[selected_user.name_or_email, selected_user.id]] : [],
                      selected: selected_user&.id,
                      required: true,
                      wrapper: false,
                      input_html: {
                        class: "simple-select2 w-full",
                        data: {
                          remote_source: "/admin/users/autocomplete_list",
                          show_non_members: "1",
                          query_field: "q[full_name_cont]",
                          placeholder: "Search by name...",
                          minimum_input_length: "2"
                        }
                      } %>
        </div>
        <%= f.submit "Check Debt", class: "btn btn-primary shrink-0" %>
      </div>
    <% end %>
  </div>
</div>
