/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require admin/md_editor.css.scss
 *= require admin/jquery.gridster.min.css
 *= require admin/admin.css.scss
 *= require admin/gallery_form.css.scss
 *= require font-awesome
 */

body {
	background-image: url('cream_dust.png');
	background-repeat: repeat;
}

div.datetime select {
    width: 107.5px;
}

.container {
    padding-bottom:10px;
}

[class*=" icon-"] {
    background-image: none;
}

.footer {
    text-align: center;
    line-height: normal;
    font-size: x-small;
    width: 100%;
    padding: 10px 0;
}

.footer a{
    color: #333333;
    text-decoration: underline;
}

/* font-awesome alignment */
.alert [class^="icon-"] {
  line-height: 17px;
  margin-right: 2px;
}