/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require 'bootstrap-extensions'
 *= require font-awesome
 *= require admin/md_editor.css.scss
 *= require admin/jquery.gridster.min.css
 *= require admin/gallery_form.css.scss
 *= require admin/permissions.css.scss
 */

body {
	background-image: url('cream_dust.png');
	background-repeat: repeat;
}

div.datetime select {
    width: 107.5px;
}

.container {
    padding-bottom:10px;
}

[class*=" icon-"] {
    background-image: none;
}

.footer {
    text-align: center;
    line-height: normal;
    font-size: x-small;
    width: 100%;
    padding: 10px 0;
}

.footer a{
    color: #333333;
    text-decoration: underline;
}

.gridster li {
     margin-bottom : 10px;
}

/* Responsive */
@media (max-width: 400px) {
    .brand {
        float: none !important;
    }

    #login_menu {
        float: none;
    }

    #login_menu li {
        float: none;
    }

    #login_menu a {
        padding: 0;
    }
}