/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require 'bootstrap-extensions'
 *= require font-awesome
 *= require admin/bootstrap-toggle-buttons.css
 *= require admin/md_editor.css
 *= require admin/jquery.gridster.min.css
 *= require admin/gallery_form.css
 *= require admin/shows.css
 */

body {
    background-image: url('cream_dust.png');
    background-repeat: repeat;
}

div.datetime select {
    width: 100px;
}

select[id$="minute"], select[id$="hour"], select[id$="day"]{ width: 60px !important;}

.container {
    padding-bottom:10px;
}

[class*=" icon-"] {
    background-image: none;
}

.gridster li {
     margin-bottom : 10px;
}

.sortable {
    margin: 0;
}

.ui-sortable-placeholder {
    margin: 10px;
    height: 30px;
    width: 560px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
}

/* Responsive */
@media (max-width: 400px) {
    .brand {
        float: none !important;
    }

    #login_menu {
        float: none;
    }

    #login_menu li {
        float: none;
    }

    #login_menu a {
        padding: 0;
    }
}