<%# locals: (subpages:) %>

<ul class="nav nav-tabs flex-column">
    <% subpages.each do |subpage| %>
        <li class="nav-item"><%= link_to(subpage[:title], subpage[:path], class: 'nav-link') %></li>
    <% end %>
</ul>
