<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
        <p>
                Hi <%= @user.first_name.presence || @user.email  %>,
        </p>
        <p>
                Someone has requested a link to change your password, and you can do this through the link below.
        </p>
        <p>
                <%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %>
        </p>
        <p>
                If you didn't request this, please ignore this email.<br />
                Your password won't change until you access the link above and create a new one.
        </p>
        <p>
                Kind Regards,
        </p>
        <p>
                Bedlam Theatre Committee and The Project Black Lightning Team
        </p>
        <hr>
        <p>
                Bedlam Theatre<br />
                11b Bristo Place<br />
                Edinburgh<br />
                EH1 1EZ<br />
        </p>
  </body>
</html>
