<p>Dear Productions Manager,</p>

<p><%= @editor.name_or_email %> added one or more debtors to <%= @show.name %>.</p>

<p><%= "#{@new_debtors_string.count(',') > 0 ? 'These are' : 'It is'} #{@new_debtors_string}" %>.</p>

<p>Regards,</p>

<p>The Black Lightning Team</p>