<div class="question control-group fields">

    <label><%= f.object.question.question_text %></label>

    <%= f.input_field :question_id, :value => f.object.question.id, :as => :hidden %>

    <div>
      <%= render 'admin/shared/answer_field', :f => f %>
    </div>

    <hr />
</div>