<% # Use a wrapper partial like dropzone_pictures %>

<br>
<div class="mb-6">
  <div class="dropzone dropzone-default dz-clickable" data-controller="dropzone">
    <%= d.file_field :files, direct_upload: true, multiple: true, data: { 'dropzone-target' => 'input' } %>
    <div class="dropzone-msg dz-message needsclick text-gray-600">
      <h3 class="dropzone-msg-title">Drag here to upload or click here to browse</h3>
      
      <% # If you're feeling fancy, you could add fix the message below to be dynamic.%>
      <% # <span class="dropzone-msg-desc text-sm">2 MB file size maximum. Allowed file types png, jpg.</span> %>
    </div>
  </div>
</div>