<div class="question control-group">
    <%= f.label :question_text %> 
    <%= render :partial => "admin/shared/md_editor", :locals => { :f => f, :field => :question_text } %>
    
    <%= f.input :response_type %>

    <%= f.link_to_remove "Remove Question", :class => "btn btn-danger" %>
    
    <hr />
</div>