<h1>Current Shows</h1>

<% @shows.each do |show| %>
<% image = "" %>
<% image = image_tag show.image.url(:thumb) if  show.image?%>
<h2><%= link_to image + show.name, show_path(show) %></h2>
<% end %>

<% if @shows.count == 0 %>
<p>There are currently no shows in the database.</p>
<% end %>

<%= will_paginate(@shows) %>