<% if f.object.question %>
  <%= render layout: '/shared/form/fields_for_template', locals: { 
        f: f,
        div_class_additions: 'question',
        attributes: [:answer]
    } do %>
      <%= f.label :answer, render_markdown(f.object.question.question_text) %>

      <%= f.input_field :question_id, value: f.object.question.id, as: :hidden %>

      <p>
        <%= render '/shared/form/answer_field', f: f %>
      </p>
  <% end %>
<% end %>
