<div class="picture control-group fields span4">
    <%= image_tag f.object.fetch_image.variant(thumb_variant), class: "thumbnail" %>

    <br />

    <%= render 'shared/form/file_field', f: f, field_name: :image %>

    <%= f.input :description, input_html: { rows: 3 } %>

    <%= link_to_remove f %>
</div>