<div class="question control-group fields">
    <%= render layout: '/shared/form/md_editor', locals: { f: f, field: :question_text, rows: 6 } do %>
      <%= f.input :response_type, collection: Admin::Question.response_types %>

      <%= link_to_remove f %>
    <% end %>
    <hr />
</div>