<h1><%= @title %></h1>

<% fields = { 
  resolved: bool_text(@complaint.resolved),
  created_at: l(@complaint.created_at, format: :longy),
  description: render_markdown(@complaint.description),
  comments: render_markdown(@complaint.comments)
} %>

<%= render '/shared/basic_fields', fields: fields %>

<%= render '/shared/show_actions', object: @complaint %>
