<% card_footer = nil if card_footer.nil? %>
<% custom_form_actions = nil if custom_form_actions.nil? %>

<div class="card">
  <div class="card-body">
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= yield %>
    </div>
    
    <div class="card-footer">
      <% if content_for?(:override_card_footer) %>
        <%= yield(:override_card_footer) %>
      <% else %>
        <%= render '/shared/form/form_actions', f: f %>
      <% end %>
    </div>
  </div>
</div>
