<% if @archived_staffings.any? %>
  <div class="card">
    <div class="card-header">
      <h5 class="card-title">Old Positions</h5>
    </div>
    <div class="card-body p-0">
      <%= render Admin::StaffingIndexRowComponent.new(staffings_hash: @archived_staffings, archived: true) %>
    </div>
    <div class="card-footer">
      <%= paginate @archived_staffings_pagination %>
    </div>
  </div>
<% end %>
