<%# locals: (f:) %>

<%= f.input :show_title, collection: Event.future.pluck(:name), include_blank: true, allow_custom_input: true %>

<%= f.input :counts_towards_debt, label: 'Does the staffing count towards debt?'%>

<div id="jobs">
  <h3>Jobs</h3>

  <%= render('shared/form/sections/nested_fields', f: f, association_name: :staffing_jobs, partial_name: 'staffing_job_fields') %>
</div>
