<input type="hidden" name="autocomplete_users_list" value="true">

<%= f.input :show_title, collection: Show.future, include_blank: false, allow_custom_input: true %>

<%= f.input :counts_towards_debt, label: 'Does the staffing count towards debt?'%>

<div id="jobs">
  <h3>Jobs</h3>

  <%= render('shared/form/sections/nested_fields', f: f, association_name: :staffing_jobs, partial_name: 'staffing_job_fields') %>
</div>
