<div class="job control-group">
    <% if can? :manage, @staffing %>
      <%= f.input_field :name %>
    <% else %>
      <%= f.input_field :name, :as => :value_only %>
    <% end %>
    
    <%= f.input_field :user_id, :collection => @users.all.collect {|u| ["#{u.first_name} #{u.last_name}".presence || u.email, u.id]} %>
    
    <% if can? :destroy, @staffing %>
      <%= f.link_to_remove "Remove", :class => "btn btn-danger" %>
    <% end %>
</div>