<% filled_positions = Admin::Staffing.joins(:staffing_jobs).where(['slug = ? and user_id is not null', slug]).count %>
<% total_positions = Admin::Staffing.joins(:staffing_jobs).where(['slug = ?', slug]).count %>

<% show_warning = (filled_positions.to_f / total_positions.to_f) <= 0.7 %>

<% archived ||= nil %>

<li style="<%= 'background-color: #f2dede; color: #b94a48;' if show_warning %>">

  <%= link_to grid_admin_staffings_path(slug, archived: archived) do %>
    <%= show_title %>

    <span class="pull-right">
      <% if show_warning %>
        <i class="fa fa-exclamation-sign"></i>
      <% else %>
        <i class="fa fa-ok-sign"></i>
      <% end %>

      <%= "#{filled_positions} of #{total_positions} filled" %>
    </span>
  <% end %>

</li>