<%= render CardComponent.new(title: "Upcoming Positions", flush: @upcoming_staffings.any?) do |c| %>
  <% c.with_tools do %>
    <%= get_link Admin::Staffing, :new %>
    <%= get_link Admin::StaffingTemplate, :index %>
  <% end %>
  <% if @upcoming_staffings.any? %>
    <%= render Admin::StaffingIndexRowComponent.new(staffings_hash: @upcoming_staffings) %>
  <% else %>
    <p class="mb-0">There are no upcoming staffing positions.</p>
  <% end %>
<% end %>
