// FontAwesome - self-hosted
@use "@fortawesome/fontawesome-free/scss/fontawesome" with (
  $fa-font-path: "/webfonts"
);
@use "@fortawesome/fontawesome-free/scss/solid" with (
  $fa-font-path: "/webfonts"
);
@use "@fortawesome/fontawesome-free/scss/brands" with (
  $fa-font-path: "/webfonts"
);

@use '../swalCustomTheme';

@use '../form_additions';
@use '../shared_additions';

@use '../admin/customisations';

@use '../admin/adminlte';
