// FontAwesome - self-hosted
$fa-font-path: "/webfonts";
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/solid";
@import "@fortawesome/fontawesome-free/scss/brands";

@import '../swalCustomTheme';

@import '../form_additions';
@import '../shared_additions';

@import '../admin/customisations';

@import "@tabler/core/dist/css/tabler";