<% alert_class, icon = html_alert_info(key) %>

<% # Link in alert should have the 'alert-link' class on their <a>'s to automatically colour match them. %>
<% # Same goes for alert-heading on a heading.%>
<div id="<%= key %>" class="alert <%= alert_class %> alert-dismissible fade show" role="alert">
  <i class="<%= icon %> fa-large" aria-hidden=”true”></i>
  <%= " #{message}" %>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
