<% if (!cookies['allow_cookies']) && (@hide_cookie_notice != true) %>
  <div id="cookie_notice" class="alert alert-danger">
    <p>
      <b>We would like to use cookies to find out more about how you use the site and provide you with essential functionality, such as submitting forms.</b>
      <br>
      <br>
        <a id="accept_cookies_btn" class="btn">Accept Cookies</a>
    </p>

    <script type="text/javascript">
      $(function () {
        $('#accept_cookies_btn').click(function () {
          var expiration_date = new Date((new Date).getTime() + 1000 * 60 * 60 * 24 * 365 * 10);
          document.cookie="allow_cookies=true"
                        + ";expires=" + expiration_date.toGMTString()
                        + ';secure'
          $('#cookie_notice').slideUp();
        });
      });
    </script>
  </div>
<% end -%>