<%# locals: () %>

<!--[if lte IE 11]>
  <div id="ie_notice" class="alert alert-danger">
    <p>
      <b>Attention!</b> You are using an old version of Internet Explorer.
      <br />
      This site is not designed to work with Internet Explorer. Things WILL break.
      <br />
      Please, for the good of the web, upgrade to either a newer version of IE
      or an alternative browser such as Google Chrome, Firefox or Safari.
    </p>
  </div>
<![endif]-->