<% content_for :content do %>
<div class="row">  
  <h1>Bedlam Archives</h1>
  
  <%= render :partial => 'datepicker' %>
  
</div>

<%= yield %>
<% end %>

<%= render :template => 'layouts/application' %>