<% # Inspiration from https://getbootstrap.com/docs/5.0/examples/sidebars/ %>
<% # Currently unused :( %>

<% content_for :content do %>
  <div class="row">
    <div class="col-3">
      <%= render('layouts/sidebar', title: @sidebar_title, subpages: @subpages) %>
    </div>
    <div class="col-9">
      <div class="card">
        <div class="card-body">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= render template: "layouts/#{current_environment(request.fullpath)}" %>
